@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Playwrite PE', sans-serif;
    color: #fff;
    color: #000;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    gap: 65px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #314588;
    padding-top: 58px;
}

nav .menu {
    display: flex;
    gap: 20px;
}

nav .menu li {
    list-style: none;
    font-weight: 510;
    font-size: 16px;
    letter-spacing: 1px;
}

nav .menu li:nth-of-type(1) {
    color: #FF3A47;
}

nav .menu li:hover {
    color: #FF3A47;
}

.contact-btn a {
    background: #F0F0F0;
    border: 2.5px solid #FF3A47;
    font-weight: 510;
    font-size: 16px;
    padding: 16px 42px;
    border-radius: 7%;
}

.contact-btn a:hover {
    color: #FF3A47;
}

.hero {
    margin-top: 40px;
}

.hero-info {
    display: flex;
    align-items: center;
    padding-left: 90px;
    padding-bottom: 4px;
}

.hero-img img {
    width: 100%;
    z-index: -1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    width: 80%;
    margin-right: -120px;
    z-index: 2;
}

.hero-text h1 {
    font-size: 65px;
    color: #314584;
}

.hero-btns {
    display: flex;
    gap: 32px;
}

.more {
    background: #FF3946;
    color: #fff;
    border-radius: 30px;
    padding: 17px 33px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.touch {
    background: #fff;
    color: #314584;
    border-radius: 30px;
    padding: 17px 33px;
    font-weight: 510;
    font-size: 15px;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.hero-text p {
    color: #818A90;
}

.design-and-development {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    position: relative;
    gap: 10px;
}

.wrapper {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 30px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.text h3 {
    text-align: center;
    font-size: 30px;
    line-height: 1.3;
    color: #314584;
}

.text p {
    color: #374887;
    font-weight: normal;
    font-size: 15px;
}

.design-img img {
    height: 200px;
}

.development-img img {
    height: 260px;
}

.bubble1, .bubble2 {
    position: absolute;
}

.bubble1 img, .bubble2 img {
    height: 330px;
}

.bubble1 {
    top: 300px;
    left: -95px;
}

.bubble2 {
    top: 800px;
    right: -100px;
}

.company-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 60px;
}

.company-img img {
    height: 550px;
}

.company-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.company-text h5 {
    color: #FF4049;
    font-size: 15px;
    font-weight: 700;
}

.company-text h2 {
    color: #314584;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 0.5px;
}

.company-text h2, .company-text p {
    text-align: center;
}

.company-text p {
    width: 57%;
    color: #354885;
    letter-spacing: 0.5px;
    font-weight: normal;
}

.in-touch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.in-touch h5 {
    color: #FF4049;
    font-size: 15px;
}

.in-touch h3 {
    color: #314584;
    font-size: 40px;
    letter-spacing: 0.5px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.contact-form input {
    width: 1300px;
    background: #314584;
    border: none;
}

.input {
    padding: 20px 20px;
    border-radius: 20px;
}

.message {
    padding: 20px 25px 120px 20px;
    border-radius: 20px;
}

.contact-form input::placeholder {
    color: #fff;
    font-family: 'Playwrite PE', sans-serif;
    font-weight: 700;
}

footer {
    background: #314584;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 15px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

.footer-info p {
    font-size: 13px;
    letter-spacing: 1px;
}

.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer-menu li {
    list-style: none;
    font-weight: 510;
    letter-spacing: 0.7px;
}