@media screen and (max-width: 600px) {
    
    header h1 {
        text-align: center;
        padding: 0px 10px;
        font-size: 45px;
    }

    header nav {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 22px;
    }

    nav a:nth-of-type(3) {
        margin-bottom: 10px;
    }

    .primary header nav a:nth-child(2) {
        border-left: none;
        border-right: none;
      }
      
      .primary footer nav a:nth-child(even) {
        border-left: none;
        border-right: none;
      }

      .pair {
        flex-direction: column;
      }

      .planet {
        width: 90%;
        text-align: center;
        display: flex;
        align-items: center;
      }

      .news ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .link {
        display: flex;
        justify-content: center;
      }

      footer nav {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 20px;
      }
}