@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&amp;display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "PT Sans", sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 280px;
    z-index: 2;
    position: relative; 
}

.logo img {
    height: 115px;
}

nav ul {
    display: flex;
    gap: 25px;
}

nav ul li {
    list-style: none;
    font-weight: 700;
    font-size: 20px;
}

 
.hero {
    height: 87vh;
    background-image: url('images/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -210px;
    z-index: 1;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 30px;
    margin-top: 120px;
}

.paragraphs-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.info h1 {
    font-weight: 700;
    font-size: 65px;
}

.info-btn {
    background: #E7EEF0;
    color: #686666;
    padding: 10px 17px;
    display: block;
    width: 150px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 23px;
    text-align: center;
}

.catalog {
    height: 565px;
    background: #60ACC1;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.catalog-info {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.catalog-info h3 {
    font-size: 30px;
    font-weight: 700;
}

.catalog-info p {
    font-size: 20px;
    font-weight: normal;
}

.furniture-cards {
    display: flex;
    justify-content: center;
    gap: 280px;
}

.single-card {
    background: #60ACC1;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.9);
    width: 675px;
    height: 360px;
    overflow: hidden;
}

.furniture-info {
    display: flex;
    height: 100%;
}

.furniture-info img {
    width: 360px;
    height: 100%;
    object-fit: cover;
    object-position: left center;
}

.info-text {
    background: #fff;
    width: 300px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 69px 50px 69px 50px;
    gap: 20px;
}

.info-text h4 {
    font-size: 20px;
}

.info-text p {
    text-align: start;
    font-size: 20px;
}

.categories {
    height: 418px;
    background: #fff;
    display: flex;
    align-items: center;
}

.categories-cards {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.category-image img {
    height: 170px;
    width: 170px;
}

.categories-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.categories-info h4 {
    color: #67686B;
    font-size: 25px;
}

.categories-info p {
    text-align: center;
    color: #67686B;
    font-size: 20px;
}

.second-catalog {
    height: 535px;
    background: #60ACC1;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 50px;
}

.second-catalog-info {
    text-align: center;
    margin-top: 60px;
}

.second-catalog-info h3 {
    font-size: 30px;
    font-weight: 700;
}

.second-catalog-info p {
    font-size: 20px;
    font-style: italic;
}

.second-catalog-cards {
    display: flex;
    justify-content: space-between;
    gap: 115px;
}

.second-catalog-card {
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.9);
}


.second-catalog-card img {
    width: 440px;
    height: 100%;
}

.about-us {
    height: 290px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.first {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.first h3 {
    font-size: 30px;
    color: #67686B;
    font-weight: 700;
}

.first p {
    font-size: 20px;
    color: #67686B;
    font-style: italic;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:  #67686B;
    font-size: 20px;
    font-weight: normal;
}

.second p {
    width: 1080px;
}

footer {
    background: #2D333C;
    color: #fff;
    text-align: center;
    padding: 24px 0;
    font-size: 20px;
    font-weight: lighter;
}
